*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #ffffff;
}
/* 版心设置 */
.w{
	width: 1200px;
	margin: 0 auto;
}
/* header-css start */
header{
	width: 100%;
	height: auto;
}
header .header_logo{
	padding-top: 11.5px;
	display: flex;
	height: 108.5px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
header .header_logo .saoma{
	position: absolute;
	top: 50px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
header .header_logo .guanzhu{
	position: absolute;
	top: 73px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
/* nav start */
header .header_nav{
	width: 100%;
	height: 44px;
	background-color: #1c223a;
}
/* header .header_nav ul{
	padding: 0 44px;
	height: 44px;
	margin: 0 auto;
} */
header .header_nav ul li{
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	float: left;
	list-style: none;
	margin: 0 33px;
	color: #ffffff;
}
/* nav end */
/* banner start */
header .header_banner{
	width: 100%;
	height:502px;
	background-position: center;
	background-size: cover;
	background-image: url(../img/banner.png);
}
/* banner end */
/* header-css end*/
#main_content .cloud_font{
	height: 56px;
	padding-top: 38px;
}
#main_content .cloud_font div{
	font-size: 24px;
	color: #000000
}
#main_content .cloud_video{
	height: 212px;
}
#main_content .cloud_video ul li{
	list-style: none;
	float: left;
}
#main_content .cloud_video ul li:nth-child(2){
	margin: 0 31px;
}
#main_content .cloud_video ul li:nth-child(3){
	margin-right: 30px;
}
#main_content .cloud_video .cloud_video_img{
	width: 277px;
	height: 160px;
	position: relative;
}
#main_content .cloud_video ul li img{
	width: 277px;
	height: 160px;
}
#main_content .cloud_video .cloud_video_bt{
	display: block;
	width: 277px;
	height: 52px;
	background-color: #1c223a;
	color: #ffffff;
	line-height: 52px;
	text-align: center;
}
#main_content .cloud_video .cloud_video_play{
	width: 57px;
	height: 57px;
	background-image: url(../img/播放.png);
	position: absolute;
	background-position: center;
	background-size: cover;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
}
#main_content .cloud_room{
	margin-top: 40px;
	height: 484px;
}
#main_content .cloud_room ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#main_content .cloud_room ul li{
	list-style: none;
	width: 392px;
	height: 235px;
	background-position: center;
	background-size: cover;
}
#main_content .cloud_room ul li:nth-child(1){
	background-image: url(../img/一号馆.png);
}
#main_content .cloud_room ul li:nth-child(2){
	background-image: url(../img/二号馆.png);
}
/* #main_content .cloud_room ul li:nth-of-type(3+n){
	margin-top: 15px;
} */
#main_content .cloud_room ul li:nth-child(3){
	background-image: url(../img/三号馆.png);
}
#main_content .cloud_room ul li:nth-child(4){
	background-image: url(../img/四号馆.png);
	margin-top: 14px;
}
#main_content .cloud_room ul li:nth-child(5){
	background-image: url(../img/五号馆.png);
	margin-top: 14px;
}
#main_content .cloud_room ul li:nth-child(6){
	background-image: url(../img/六号馆.png);
	margin-top: 14px;
}
/*        热门展览--main-botom          */
#main_bottom{
	width: 100%;
	height: auto;
	background-color: #f3f4f8;
	padding-top: 38px;
}
#hot_exhibition{
	width: 1160px;
	margin: 0 auto;
	height: auto;
}
#hot_exhibition .title{
	width: 100%;
	height: 46px;
	font-size: 24px;
}
#hot_exhibition .hot_list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#hot_exhibition .hot_list .bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#hot_exhibition .hot_list .bar div{
	width: 227px;
	height: 194px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	margin-top: 7px;
}
#hot_exhibition .hot_list .bar .country_symbol{
	display: block;
	font-size: 14px;
}
#hot_exhibition .hot_list .bar .work{
	display: block;
	font-size: 14px;
	color: #a1a1a1;
}
#cooperate_brand{
	height: auto;
}
#main_bottom .cooperate{
	margin-top: 38px;
	height: 56px;
	font-size: 24px;
}
#cooperate_brand .brand ul{
	display: flex;
	justify-content: space-between;
}
#cooperate_brand .brand ul li{
	list-style: none;
}
/* 新闻资讯 */
#consult .consult_title{
	height: 56px;
	margin-top: 38px;
	font-size: 26px;
}
#consult .consult_list{
	display: flex;
	justify-content: flex-start;
}
#consult .consult_list_item{
	width: 750px;
	height: auto;
}
#consult .consult_list_item ul li {
	list-style: none;
}
#consult .consult_list_item ul li{
	margin-top: 15px;
}
#consult .consult_list_item ul li:nth-child(1){
	margin-top: 0px;
}
#consult .consult_list_item ul li :first-child{
	display: inline-block;
	width: 10px;
	height: 12px;
	margin-left: 15px;
}
#consult .consult_list_item ul li span:nth-child(2){
	margin-left: 20px;
	color: #999999;
}
#consult .consult_list_item ul li span:nth-child(3){
	margin-left: 16px;
}
#watch_sum ul{
	height: 264px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#watch_sum ul li{
	list-style: none;
}
/* footer start */
footer{
	display: block;
	width: 100%;
	height: 289px;
	background-color: #1c223a;
}
footer .footer_bt{
	width: 1076px;
	height: 289px;
	margin: 0 auto;
	position: relative;
}
footer .footer_bt span{
	color: #FFFFFF;
}
footer .footer_bt .line1{
	width: 100%;
	height: 51px;
	padding-top: 62px;
}
footer .footer_bt .line1 span{
	font-size: 20px;
	font-weight: bold;
}
footer .footer_bt .line1 :first-child{
	margin-right: 220px;
}
footer .footer_bt .line2{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line2 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line2 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line2 span:nth-child(3){
	margin-right: 340px;
}
footer .footer_bt .line3{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line3 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line3 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line3 span:nth-child(3){
	margin-right: 120px;
}
footer .footer_bt .line4{
	width: 100%;
	height: 70px;
}
footer .footer_bt .line4 :first-child{
	margin-right: 239px;
}
footer .footer_bt .line4 span:nth-child(2){
	margin-right: 342px;
}footer .footer_bt .footer_erweima{
	position: absolute;
	top: 130px;
	right: 0px;
}
