*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #ffffff;
}
/* 版心设置 */
.w{
	width: 1200px;
	margin: 0 auto;
}
/* header-css start */
header{
	width: 100%;
	height: auto;
}
header .header_logo{
	padding-top: 11.5px;
	display: flex;
	height: 108.5px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
header .header_logo .saoma{
	position: absolute;
	top: 50px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
header .header_logo .guanzhu{
	position: absolute;
	top: 73px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
/* nav start */
header .header_nav{
	width: 100%;
	height: 44px;
	background-color: #1c223a;
}
header .header_nav ul li{
	width: 130px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	float: left;
	text-align: center;
	list-style: none;
	/* margin: 0 33px; */
	/* padding: 0 33px; */
	color: #ffffff;
	cursor: pointer;/*鼠标移动到菜单上会变成小手*/
	-webkit-transition: all .3s;/*动画的过度时间*/
	transition: all .3s;/*动画的过度时间*/
	position: relative;/*相对定位（用于二级菜单的定位）*/
	background-color: #1C223A;
}
header .header_nav ul li:hover{
	background-color: red;
}
header .header_nav ul li a{
	width: 64px;
}
header .header_nav ul .dropdown_1{
	position: absolute;
	top: 100%;
	left: 0%;
	display: none; /* 二级菜单默认是不可见的 */
	z-index: 1;
}
header .header_nav ul .dropdown_1 li{
	width: 130px;
	padding: 0 0;
	text-align: center;
	border-top:2px solid #999999;
	/* background-color: #1C223A; */
}
header .header_nav ul li:hover ul{
	display: block;
}
/* nav end */
/* banner start */
header .header_banner{
	width: 100%;
	height: 200px;
	background-image: url(../img/n12.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* banner end */
/* section start */
section{
	padding: 43px 0px;
	background-color: #f3f4f8;
}
section #video_play{
	margin: 0 auto;
	height: 1108px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section #video_play .video_line1{
	display: flex;
	justify-content: space-between;
}
section #video_play .video_item{
	width: 381px;
	height: 543px;
	box-shadow: #cacbce 0px 1px 3px 3px;
}
section #video_play .video_item .video_title{
	width: 381px;
	height: 50px;
	background-color: #1c223a;
	text-align: center;
	line-height: 50px;
}
section #video_play .video_item .video_info{
	width: 342px;
	height: 153px;
	margin: 0 auto;
	font-size: 10px;
	line-height: 17px;
	color: #7d7d7d;
}
section #video_play .video_item .video_click{
	width: 266px;
	height: 47px;
	background-color: red;
	border-radius: 30px;
	margin: 22px auto 40px;
	line-height: 47px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
}
/* footer start */
footer{
	display: block;
	width: 100%;
	height: 289px;
	background-color: #1c223a;
}
footer .footer_bt{
	width: 1076px;
	height: 289px;
	margin: 0 auto;
	position: relative;
}
footer .footer_bt span{
	color: #FFFFFF;
}
footer .footer_bt .line1{
	width: 100%;
	height: 51px;
	padding-top: 62px;
}
footer .footer_bt .line1 span{
	font-size: 20px;
	font-weight: bold;
}
footer .footer_bt .line1 :first-child{
	margin-right: 220px;
}
footer .footer_bt .line2{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line2 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line2 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line2 span:nth-child(3){
	margin-right: 340px;
}
footer .footer_bt .line3{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line3 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line3 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line3 span:nth-child(3){
	margin-right: 120px;
}
footer .footer_bt .line4{
	width: 100%;
	height: 70px;
}
footer .footer_bt .line4 :first-child{
	margin-right: 239px;
}
footer .footer_bt .line4 span:nth-child(2){
	margin-right: 342px;
}footer .footer_bt .footer_erweima{
	position: absolute;
	top: 130px;
	right: 0px;
}