*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #ffffff;
}
/* 版心设置 */
.w{
	width: 1200px;
	margin: 0 auto;
}
/* header-css start */
header{
	width: 100%;
	height: auto;
}
header .header_logo{
	padding-top: 11.5px;
	display: flex;
	height: 108.5px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
header .header_logo .saoma{
	position: absolute;
	top: 50px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
header .header_logo .guanzhu{
	position: absolute;
	top: 73px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
/* nav start */
header .header_nav{
	width: 100%;
	height: 44px;
	background-color: #1c223a;
}
header .header_nav ul li{
	width: 130px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	float: left;
	text-align: center;
	list-style: none;
	/* margin: 0 33px; */
	/* padding: 0 33px; */
	color: #ffffff;
	cursor: pointer;/*鼠标移动到菜单上会变成小手*/
	-webkit-transition: all .3s;/*动画的过度时间*/
	transition: all .3s;/*动画的过度时间*/
	position: relative;/*相对定位（用于二级菜单的定位）*/
	background-color: #1C223A;
}
header .header_nav ul li:hover{
	background-color: red;
}
header .header_nav ul li a{
	width: 64px;
}
header .header_nav ul .dropdown_1{
	position: absolute;
	top: 100%;
	left: 0%;
	display: none; /* 二级菜单默认是不可见的 */
	z-index: 1;
}
header .header_nav ul .dropdown_1 li{
	width: 130px;
	padding: 0 0;
	text-align: center;
	border-top:2px solid #999999;
	/* background-color: #1C223A; */
}
header .header_nav ul li:hover ul{
	display: block;
}
/* nav end */
/* banner start */
header .header_banner{
	width: 100%;
	height: 200px;
	background-image: url(../img/图层1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* banner end */
/* section start */
section{
	padding-bottom: 43px;
	background-color: #f3f4f8;
}
section .breadcrumb{
	width: 100%;
	height: 92px;
	line-height: 92px;
	color: #999999;
	font-size: 14px;
}
section .breadcrumb span{
	color: #000000;
	font-weight: bold;
}
section .w .company{
	width: 100%;
	height: 278px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-start;
}
section .w .company .company_logo{
	width: 158px;
	height: 278px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section .w .company .company_info .company_title{
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	margin-top: 44px;
}
section .w .company .company_logo img{
	margin-top: 44px;
}
section .w .company .company_info .company_contact ul li{
	display: flex;
	justify-content: flex-start;
	margin-top: 24px;
}
section .w .company .company_info .company_contact ul li .contact_title{
	font-size: 16px;
	width: 81px;
	color: #494949;
}
section .w .company .company_info .company_contact ul li .contact_content{
	width: 846px;
	color: #8c8c8c;
}
section .table_title{
	height: 76px;
	font-weight: bold;
	line-height: 76px;
}
section .w .table{
	width: 1162px;
	height: 605px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section .table .table_line{
	width: 100%;
	height: 196px;
	display: flex;
	justify-content: space-between;
}
section .table .table_line .table_item{
	width: 225px;
	height: 196px;
	background-color: #FFFFFF;
}
section .table .table_line .table_item img{
	width: 225px;
	height: 136px;
}
section .table .table_line .table_item .production_title{
	font-size: 14px;
	margin-top: 8px;
	margin-left: 10px;
}
section .table .table_line .table_item .table_info{
	margin-top: 8px;
	margin-left: 10px;
	font-size: 12px;
	color: #999999;
}
/* footer start */
footer{
	display: block;
	width: 100%;
	height: 289px;
	background-color: #1c223a;
}
footer .footer_bt{
	width: 1076px;
	height: 289px;
	margin: 0 auto;
	position: relative;
}
footer .footer_bt span{
	color: #FFFFFF;
}
footer .footer_bt .line1{
	width: 100%;
	height: 51px;
	padding-top: 62px;
}
footer .footer_bt .line1 span{
	font-size: 20px;
	font-weight: bold;
}
footer .footer_bt .line1 :first-child{
	margin-right: 220px;
}
footer .footer_bt .line2{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line2 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line2 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line2 span:nth-child(3){
	margin-right: 340px;
}
footer .footer_bt .line3{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line3 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line3 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line3 span:nth-child(3){
	margin-right: 120px;
}
footer .footer_bt .line4{
	width: 100%;
	height: 70px;
}
footer .footer_bt .line4 :first-child{
	margin-right: 239px;
}
footer .footer_bt .line4 span:nth-child(2){
	margin-right: 342px;
}footer .footer_bt .footer_erweima{
	position: absolute;
	top: 130px;
	right: 0px;
}