*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #ffffff;
}
/* 版心设置 */
.w{
	width: 1200px;
	margin: 0 auto;
}
/* header-css start */
header{
	width: 100%;
	height: auto;
}
header .header_logo{
	padding-top: 11.5px;
	display: flex;
	height: 108.5px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
header .header_logo .saoma{
	position: absolute;
	top: 50px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
header .header_logo .guanzhu{
	position: absolute;
	top: 73px;
	font-size: 14px;
	right: 75px;
	color: #999999;
}
/* nav start */
header .header_nav{
	width: 100%;
	height: 44px;
	background-color: #1c223a;
}
header .header_nav ul li{
	width: 130px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	float: left;
	text-align: center;
	list-style: none;
	/* margin: 0 33px; */
	/* padding: 0 33px; */
	color: #ffffff;
	cursor: pointer;/*鼠标移动到菜单上会变成小手*/
	-webkit-transition: all .3s;/*动画的过度时间*/
	transition: all .3s;/*动画的过度时间*/
	position: relative;/*相对定位（用于二级菜单的定位）*/
	background-color: #1C223A;
}
header .header_nav ul li:hover{
	background-color: red;
}
header .header_nav ul li a{
	width: 64px;
}
header .header_nav ul .dropdown_1{
	position: absolute;
	top: 100%;
	left: 0%;
	display: none; /* 二级菜单默认是不可见的 */
	z-index: 1;
}
header .header_nav ul .dropdown_1 li{
	width: 130px;
	padding: 0 0;
	text-align: center;
	border-top:2px solid #999999;
	/* background-color: #1C223A; */
}
header .header_nav ul li:hover ul{
	display: block;
}
/* nav end */
/* banner start */
header .header_banner{
	width: 100%;
	height: 200px;
	background-image: url(../img/n1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* banner end */
/* section start */
section .host_introduce{
	width: 100%;
	height: 104px;
	line-height: 104px;
	font-size: 24px;
}
section .xinwen_list_item:nth-child(1){
	margin-top: 16px;
}
section .xinwen_list_item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 921px;
	height: 146px;
	margin: 40px 0px;
}
section .xinwen_list_item li{
	border:1px solid transparent;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
section .xinwen_list_item li span{
	color: #999999;
}
/* 翻页-css */
section .fanye{
	width: 100%;
	height: 113px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section .fanye .fanye_list{
	width: 408px;
	display: flex;
	justify-content: space-between;
}
section .fanye .fanye_list .fanye_item{
	width: 32px;
	height: 35px;
	border: 1px solid #dddddd;
	text-align: center;
	line-height: 35px;
}
section .fanye .fanye_list .fanye_item a{
	color: #999999;
}
section .fanye .fanye_list .fanye_item:nth-child(1){
	border: 1px solid red;
}
section .fanye .fanye_list .fanye_item:nth-child(8){
	width: 66px;
}
section .fanye .fanye_list .fanye_item:nth-child(9){
	width: 66px;
}
/* footer start */
footer{
	display: block;
	width: 100%;
	height: 289px;
	background-color: #1c223a;
}
footer .footer_bt{
	width: 1076px;
	height: 289px;
	margin: 0 auto;
	position: relative;
}
footer .footer_bt span{
	color: #FFFFFF;
}
footer .footer_bt .line1{
	width: 100%;
	height: 51px;
	padding-top: 62px;
}
footer .footer_bt .line1 span{
	font-size: 20px;
	font-weight: bold;
}
footer .footer_bt .line1 :first-child{
	margin-right: 220px;
}
footer .footer_bt .line2{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line2 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line2 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line2 span:nth-child(3){
	margin-right: 340px;
}
footer .footer_bt .line3{
	width: 100%;
	height: 53px;
}
footer .footer_bt .line3 :first-child{
	margin-right: 40px;
}
footer .footer_bt .line3 span:nth-child(2){
	margin-right: 130px;
}
footer .footer_bt .line3 span:nth-child(3){
	margin-right: 120px;
}
footer .footer_bt .line4{
	width: 100%;
	height: 70px;
}
footer .footer_bt .line4 :first-child{
	margin-right: 239px;
}
footer .footer_bt .line4 span:nth-child(2){
	margin-right: 342px;
}footer .footer_bt .footer_erweima{
	position: absolute;
	top: 130px;
	right: 0px;
}